<!DOCTYPE HTML>
<html lang="pt-br" ng-app="resumeApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Daniel Teixeira | Desenvolvedor Web</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Desenvolvedor Web, Full Stack, JavaScript" />
	<meta name="keywords"
		content="Desenvolvedor Web, Developent Web, Software, JavaScript, AngularJS, Angular, Java, Php, Laravel, Codeigniter, WordPress" />
	<meta name="author" content="Daniel Teixeira" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Daniel Teixeira" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="Daniel Teixeira" />
	<meta property="og:description" content="Desenvolvedor Web, Full Stack, JavaScript" />
	<meta name="twitter:title" content="Daniel Teixeira" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!--build:css css/styles.min.css-->
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<!--endbuild-->

	<!--build:js js/modernizr-2.6.2.min.js -->
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!--endbuild-->

	<!--build:js js/angular-1.7.9.min.js -->
	<!-- AngularJS -->
	<script src="js/angular.js"></script>
	<script src="js/Chart.min.js"></script>
	<script src="js/angular-chart.min.js"></script>
	<!--endbuild-->

	<!--build:js js/resume.js -->
	<!-- Resume Controller -->
	<script src="js/resume.js"></script>
	<!--endbuild-->

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page" ng-controller="ResumeController as resume">
		<div class="container-fluid">
			<div class="row">
				<div class="sidebar col-sm-4 fh5co-cover" role="banner"
					style="background-image:url(images/bg_code.png);" data-stellar-background-ratio="0.5">
					<div class="overlay"></div>
					<div class="display-t text-center">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(images/user.jpg);"></div>
							<h1><span>Daniel Teixeira</span></h1>
							<h3><span>{{resume.translate.softwareDeveloper[resume.language.selected]}}</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://www.linkedin.com/in/danielteixeirasantos/" target="_blank"><i
												class="icon-linkedin3"></i></a></li>
									<li><a href="https://github.com/teixeiradaniel" target="_blank"><i
												class="icon-github2"></i></a></li>
									<!-- <li><a href="https://codepen.io/teixeiradaniel" target="_blank"><i
													class="icon-codepen"></i></a></li> -->
									<li><a href="https://pt.stackoverflow.com/users/42222/daniel-teixeira"
											target="_blank"><i class="icon-stackoverflow"></i></a></li>
								</ul>
							</p>
							<div>
								<button type="button" class="btn btn-default btn-xs"
									ng-click="resume.language.selected = resume.languages.pt_br">PT-BR</button>
								<button type="button" class="btn btn-default btn-xs"
									ng-click="resume.language.selected = resume.languages.en">EN</button>
							</div>
						</div>
					</div>
				</div>

				<div class="main col-sm-8 col-sm-offset-4">
					<div id="fh5co-about" class="animate-box">
						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-10 col-lg-offset-1">
									<div class="text-center fh5co-heading">
										<h2>{{resume.translate.hello[resume.language.selected]}}</h2>
									</div>
									<p>{{resume.translate.whoAmI[resume.language.selected]}}</p>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-md-offset-0">
									<ul class="timeline">
										<li class="timeline-heading text-center animate-box">
											<div>
												<h3>{{resume.translate.workExperience[resume.language.selected]}}</h3>
											</div>
										</li>
										<li class="timeline-unverted animate-box">
											<div class="timeline-badge"><i class="icon-suitcase"></i></div>
											<div class="timeline-panel">
												<div class="timeline-heading">
													<h3 class="timeline-title">
														{{resume.translate.softwareDeveloper[resume.language.selected]}}
													</h3>
													<span class="company">Jetro - 2019 - Atual</span>
												</div>
												<div class="timeline-body">
													<p>VueJS, NodeJS, PostgreSQL.</p>
												</div>
											</div>
										</li>
										<li class="animate-box timeline-inverted">
											<div class="timeline-badge"><i class="icon-suitcase"></i></div>
											<div class="timeline-panel">
												<div class="timeline-heading">
													<h3 class="timeline-title">
														{{resume.translate.softwareDeveloper[resume.language.selected]}}
													</h3>
													<span class="company">Docner - 2017 - 2019</span>
												</div>
												<div class="timeline-body">
													<p>AngularJS, Java, PosgreSQL, MongoDB,
														Redis, Heroku</p>
												</div>
											</div>
										</li>
										<li class="timeline-unverted animate-box">
											<div class="timeline-badge"><i class="icon-suitcase"></i></div>
											<div class="timeline-panel">
												<div class="timeline-heading">
													<h3 class="timeline-title">
														{{resume.translate.softwareDeveloper[resume.language.selected]}}
													</h3>
													<span class="company">Jetro - 2011 - 2017</span>
												</div>
												<div class="timeline-body">
													<p>AngularJS, PHP, PostgreSQL, Delphi,
														Firebird.</p>
												</div>
											</div>
										</li>

										<br>
										<li class="timeline-heading text-center animate-box">
											<div>
												<h3>{{resume.translate.education[resume.language.selected]}}</h3>
											</div>
										</li>
										<li class="timeline-inverted animate-box">
											<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
											<div class="timeline-panel">
												<div class="timeline-heading">
													<h3 class="timeline-title">Extensão em Tecnologias de Banco de Dados
													</h3>
													<span class="company">FAMETRO - 2016</span>
												</div>
												<div class="timeline-body">
													<p></p>
												</div>
											</div>
										</li>
										<li class="animate-box timeline-unverted">
											<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
											<div class="timeline-panel">
												<div class="timeline-heading">
													<h3 class="timeline-title">Análise e Desenvolvimento de Sistemas
													</h3>
													<span class="company">FAMETRO - 2011 - 2014</span>
												</div>
												<div class="timeline-body">
													<p></p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div id="fh5co-skills" class="animate-box">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
									<h2>{{resume.translate.skills[resume.language.selected]}}</h2>
								</div>
							</div>

							<div class="row row-pb-md">
								<charts-filter resume="resume" type="programmingLanguages"></charts-filter>
							</div>

							<div class="row row-pb-md">
								<charts-filter resume="resume" type="otherLanguages"></charts-filter>
							</div>

							<div class="row row-pb-md">
								<charts-filter resume="resume" type="dataBases"></charts-filter>
							</div>

							<div class="row row-pb-md">
								<charts-filter resume="resume" type="versionControl"></charts-filter>
							</div>

							<div class="row row-pb-md">
								<charts-filter resume="resume" type="others"></charts-filter>
							</div>

							<div class="row row-pb-md">
								<div class="col-sm-12">
									<h3>{{resume.translate.skillsTypes.frameworksLibrariesTools[resume.language.selected]}}
									</h3>
								</div>
								<div ng-repeat="item in resume.skills.frameworksLibrariesTools"
									class="col-md-3 col-sm-6 col-xs-12 text-center">
									<div class="chart" data-percent="{{item.percent}}">
										<span><strong>{{item.name}}</strong>{{resume.getLevelTitle(item.level)}}</span>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div id="fh5co-footer">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<ul class="fh5co-social-icons">
										<li><a href="https://www.linkedin.com/in/danielteixeirasantos/"
												target="_blank"><i class="icon-linkedin3"></i></a></li>
										<li><a href="https://github.com/teixeiradaniel" target="_blank"><i
													class="icon-github2"></i></a></li>
										<!-- <li><a href="https://codepen.io/teixeiradaniel" target="_blank"><i
													class="icon-codepen"></i></a></li> -->
										<li><a href="https://pt.stackoverflow.com/users/42222/daniel-teixeira"
												target="_blank"><i class="icon-stackoverflow"></i></a></li>
									</ul>
									<p> 2020 - Daniel Teixeira. <br>
										<small>- Original Designed by <a href="http://freehtml5.co"
												target="_blank">FreeHTML5.co</a></small>
										<small>- Icons made by <a href="http://www.freepik.com"
												title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
												title="Flaticon">www.flaticon.com</a> is licensed
											by <a href="http://creativecommons.org/licenses/by/3.0/"
												title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="gototop js-top">
						<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
					</div>
				</div>
			</div>
		</div>

		<!--build:js js/main.min.js -->
		<!-- jQuery -->
		<script src="js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="js/jquery.waypoints.min.js"></script>
		<!-- Stellar Parallax -->
		<script src="js/jquery.stellar.min.js"></script>
		<!-- Easy PieChart -->
		<script src="js/jquery.easypiechart.min.js"></script>
		<!-- Main -->
		<script src="js/main.js"></script>
		<!-- endbuild -->

</body>

</html>